<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

  <div class="jumbotron text-center">
    <h2>ApexShield Health Systems</h2>
    <p>Production Kubernetes Workload • Spring Boot &amp; PostgreSQL</p>
    <br/>
    <p>
      <a class="btn btn-primary btn-lg" th:href="@{/owners/find}">Search Patients</a>
      <a class="btn btn-default btn-lg" th:href="@{/vets.html}">On-Call Vets</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img-responsive center-block" th:src="@{/resources/images/pets.png}" alt="Pets" style="max-height: 180px; border-radius: 8px;"/>
    </div>
  </div>

</body>
</html>